/*Title positions: mobile*/
.container {
  position: fixed;
  width: 100%;
  height: 100%;
}
.title {
  font-size: 1em;
}
#center-node,
#skills-node,
#projects-node,
#contact-node,
#references-node,
#interests-node {
  position: absolute;
  text-align: center;
}
#center-node {
  top: 50%;
  left: 50%;
}

.center-title {
  font-size: 1.2em;
}

svg {
  z-index: -1;
}
.node {
  z-index: 1;
}

/*example code from codepen*/
.dot{
	position: absolute;
	width: 5px;
	height: 2px;
	background-color: yellow;
}
